/* components/Footer.module.css */
.footer {
  background-color: #121212;
  color: #ffffff;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 478px) {
    padding: 50px 20px;
  }
}
.div {
  max-width: 940px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 478px) {
  .profile {
    flex-direction: column;
    align-items: start;
  }
}

.image {
  width: 120px;
  height: 120px;
  min-height: 80px;
  min-width: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-image: url("https://assets.website-files.com/600af88…/600af88…_mor%20and%20ilya%202%20(2).png");
  background-position: 0px 0px;
  background-size: cover;
  -o-object-fit: fill;
  object-fit: fill;
}

.text {
  max-width: 500px;
}

.heading {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

.text p {
  margin-top: 0px;
  margin-bottom: 1%;
  color: #70768a;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #474a57;
  color: #474a57;
}

.follow {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: #8c8f97;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 478px) {
  .follow {
    flex-direction: column;
    gap: 20px;
  }
}

.follow p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}

@media (max-width: 478px) {
  .socialIcons a {
    margin: 0 30px;
  }
}

.socialIcons a:hover {
  color: #1a73e8;
}
