/* components/NavBar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #f8f9fa;
  letter-spacing: 2px;
  z-index: 200;
}
@media (max-width: 990px) {
  .navbar {
    padding: 25px 3%;
    z-index: 200;
  }
}

.brand {
  font-size: 16px;
  /* font-family: poppins; */
  font-weight: 800;
  z-index: 200;
}

.links {
  display: flex;
  align-items: center;
}
.menu {
  display: none;
}
@media (max-width: 990px) {
  .links {
    display: none;
  }
  .menu {
    display: block;
    z-index: 200;
  }
}

.resources {
  margin-right: 20px;
  text-decoration: none;
  color: #006cd0;
}

.cloneButton {
  color: white;
  border: none;

  cursor: pointer;
  padding: 14px 24px;
  border-radius: 6px;
  background-color: #006cd0;
}

.topbar {
  padding: 10px 10%;
  background-color: #f8f9fa;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 60px;
  letter-spacing: 2px;
  z-index: 100;
  transition: top 0.5s; /* Add transition effect */
}

.topbarClosed {
  padding: 10px 10%;
  background-color: #f8f9fa;
  position: absolute;
  z-index: 100;
  top: -500px;
  width: 100%;
  margin-top: 60px;
  letter-spacing: 2px;
  transition: top 0.5s; /* Add transition effect */
}

.linkss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: bold;
  gap: 30px;
  margin: 20px 0;
}
