.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15%;
  padding: 15px 8%;
}
/* 
.image {
  grid-column: 1 / span 1;
} */

.textContainer {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 45px;
  padding: 45px;
}

.stepNumber {
  color: #006cd0;
  font-weight: 700;
  text-transform: uppercase;
}

.heading {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 10px;
}

.content {
  margin-top: 0;
  margin-bottom: 1%;
  color: #70768a;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
