.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6%;
  position: relative;
  padding: 15px 8%;
}

@media (max-width: 990px) {
  .gridContainer {
    padding: 0 3%;
    padding-bottom: 350px;
    gap: 250px;
  }
}
@media (max-width: 768px) {
  .gridContainer {
    padding: 0px 3%;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 250px;
  }
}
@media (max-width: 478px) {
  .gridContainer {
    padding: 0px 1%;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 250px;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

.textContainer {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 45px;
  padding: 45px;
  z-index: 120;
  background-color: white;
}
@media (max-width: 768px) {
  .imageContainer {
    order: 2; /* Order for smaller devices */
  }

  .textContainer {
    order: 1; /* Order for smaller devices */
  }
}
@media (max-width: 768px) {
  .textContainer {
    margin: 15px;
  }
}

.stepNumber {
  color: #006cd0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heading {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 10px;
}

.content {
  margin-top: 0;
  margin-bottom: 1%;
  color: #70768a;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
